.deleteUserConfirmationChild,
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
}
.deleteUserConfirmationChild {
  background-color: #d9d9d9;
  border: 1px solid var(--subheading-color);
  box-sizing: border-box;
}
.groupChild {
  background-color: var(--primary-color);
}
.izbriiProfil {
  position: absolute;
  top: 20%;
  left: 21.5%;
  font-weight: 600;
}
.rectangleParent {
  position: absolute;
  height: 14.81%;
  width: 35.78%;
  top: 70%;
  right: 32.02%;
  bottom: 15.19%;
  left: 32.2%;
  cursor: pointer;
  color: var(--white);
}
.izbrisProfila {
  position: absolute;
  top: 5.56%;
  left: 39.36%;
  font-weight: 600;
}
.profilBoOdstranjen {
  margin: 0;
}
.profilBoOdstranjenContainer {
  position: absolute;
  top: 25.56%;
  left: 18.78%;
  font-size: var(--text-style-size);
  text-align: center;
}
.deleteUserConfirmation {
  position: relative;
  width: 559px;
  height: 270px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--subheading-style-size);
  color: var(--subheading-color);
  font-family: var(--text-style);
}
